{% extends 'base.html' %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="header">
            <h2>Data Pegawai</h2>
        </div>
        <!-- Striped Rows -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body table-responsive">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                            <i class="fas fa-ban"></i>
                            {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="button-demo">
                        <a href="/pegawai-add" class="btn btn-success waves-effect">Tambah Data</a>
                    </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>FIRST NAME</th>
                                    <th>LAST NAME</th>
                                    <th>USERNAME</th>
                                    <th>OPERASI</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pegawai in pegawais %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{pegawai.first_name}}</td>
                                    <td>{{pegawai.last_name}}</td>
                                    <td>{{pegawai.username}}</td>
                                    <td>
                                        <a href="{% url 'edit_pegawai' pegawai.id %}" class="btn btn-warning waves-effect">Edit</a>
                                        <a href="{% url 'delete_pegawai' pegawai.id %}" class="btn btn-danger waves-effect" onclick="return confirm('Apakah anda yakin untuk menghapus data {{ pegawai.first_name }}?');">Hapus</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Striped Rows -->
        <!-- Bordered Table -->
    </div>
</section>
{% endblock %}