{% extends 'base.html' %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="header">
            <h2>Data Tanaman Hias</h2>
        </div>
        <!-- Striped Rows -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    {% comment %} <div class="header">
                        <h2>
                            Data Tanaman Hias
                        </h2>
                    </div> {% endcomment %}
                    <div class="body table-responsive">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                                <i class="fas fa-ban"></i>
                                {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="button-demo">
                            <a href="/tanaman-add" class="btn btn-success waves-effect">Tambah Data</a>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>NAMA</th>
                                    <th>JENIS</th>
                                    <th>DESKRIPSI</th>
                                    <th>HARGA BELI (Rp)</th>
                                    <th>HARGA JUAL (Rp)</th>
                                    <th>GAMBAR</th>
                                    <th>OPERASI</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tanaman in tanamans %}
                                <tr>
                                    <td scope="row">{{forloop.counter}}</td>
                                    <td>{{tanaman.nama}}</td>
                                    <td>{{tanaman.jenis}}</td>
                                    <td>{{tanaman.deskripsi}}</td>
                                    <td>{{tanaman.harga_beli}}</td>
                                    <td>{{tanaman.harga_jual}}</td>
                                    <td>
                                    {% if tanaman.gambar %}
                                        <img src="{{ tanaman.gambar.url }}" width="80px" alt="{{ tanaman.nama }}">
                                    {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_tanaman' tanaman.id %}" class="btn btn-warning waves-effect">Edit</a>
                                        <a href="{% url 'delete_tanaman' tanaman.id %}" class="btn btn-danger waves-effect" onclick="return confirm('Apakah anda yakin untuk menghapus data {{ tanaman.nama }}?');">Hapus</a>
                                    </td>
                                </tr>
                                {% endfor %}   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Striped Rows -->
        <!-- Bordered Table -->
    </div>
</section>
{% endblock %}