{% extends 'base.html' %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="header" >
            <h2>Edit Data Tanaman Hias</h2>
        </div>
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    
                    <div class="body">
                        {% comment %} <h2 class="card-inside-title">Edit Data Tanaman Hias</h2> {% endcomment %}
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                 <form action="{% url 'edit_tanaman' tanaman.id %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    
                                <button class="btn btn-success">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}