{% extends 'base.html' %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="header">
            <h2>
                Data Aksesoris
            </h2>
        </div>
        <!-- Striped Rows -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body table-responsive">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                                <i class="fas fa-ban"></i>
                                {{message}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="button-demo">
                            <a href="/aksesoris-add" class="btn btn-success waves-effect">Tambah Data</a>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAMA</th>
                                    <th>HARGA</th>
                                    <th>STOK</th>
                                    <th>OPERASI</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aksesoris in aksesoriss %}
                                <tr>
                                    <td scope="row">{{forloop.counter}}</td>
                                    <td>{{aksesoris.nama}}</td>
                                    <td>{{aksesoris.harga}}</td>
                                    <td>{{aksesoris.stok}}</td>
                                    <td>
                                        <a href="{% url 'edit_aksesoris' aksesoris.id %}" class="btn btn-warning waves-effect">Edit</a>
                                        <a href="{% url 'delete_aksesoris' aksesoris.id %}" class="btn btn-danger waves-effect" onclick="return confirm('Apakah anda yakin untuk menghapus data {{ aksesoris.nama }}?');">Hapus</a>
                                    </td>
                                </tr>
                                {% endfor %}   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Striped Rows -->
        <!-- Bordered Table -->
    </div>
</section>
{% endblock %}